body {
    background-color: #4f4e57;
    color: #ffffff;
    font-family:cursive, sans-serif;
    text-align: center;
    text-shadow: 0px 4px #00000071;
}

h1 {
    font-size: 34;
    font-weight: bold;
}

h2 {
    font-size: 24;
    font-weight: bold;
}

h3 {
    font-size: 22;
    font-weight: bold;
}

p {
    font-size: 18;
    font-weight: medium;
}

div {
    font-size: 18;
    font-weight: medium;
}

button {
    font-family:cursive, sans-serif;
    font-size: 18;
    font-weight: medium;
    background-color: #0000007e;
    color: #ffffff;
}